@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 27% 94%;
    --foreground: 224 7.1% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 7.1% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 7.1% 4.1%;
    --primary: 190 55% 23%;
    --primary-foreground: 190 25% 95%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 177 56% 58%;
    --accent-foreground: 190 55% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 20% 88%;
    --input: 195 20% 88%;
    --ring: 190 55% 23%;
    --radius: 0.5rem;
    
    --sidebar-background: 190 45% 18%;
    --sidebar-foreground: 195 27% 94%;
    --sidebar-primary: 177 56% 58%;
    --sidebar-primary-foreground: 190 55% 13%;
    --sidebar-accent: 190 40% 28%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 190 35% 25%;
    --sidebar-ring: 177 56% 68%;
  }

  .dark {
    --background: 190 20% 8%;
    --foreground: 195 27% 94%;
    --card: 190 25% 12%;
    --card-foreground: 195 27% 94%;
    --popover: 190 20% 8%;
    --popover-foreground: 195 27% 94%;
    --primary: 195 27% 94%;
    --primary-foreground: 190 55% 23%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 177 56% 58%;
    --accent-foreground: 190 55% 13%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 20% 20%;
    --input: 190 20% 20%;
    --ring: 177 56% 58%;

    --sidebar-background: 190 45% 18%;
    --sidebar-foreground: 195 27% 94%;
    --sidebar-primary: 177 56% 58%;
    --sidebar-primary-foreground: 190 55% 13%;
    --sidebar-accent: 190 40% 28%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 190 35% 25%;
    --sidebar-ring: 177 56% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}
